/* Evandro 78791 – style-3.css */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Properties */
:root {

    /* algumas cores do ficheiro custom-colors.txt */
    --red-050: #FEF2F2;
    --red-100: #fff5f5;
    --red-200: #fed7d7;
    --red-300: #feb2b2;
    --red-400: #fc8181;
    --red-500: #f56565;
    --red-600: #e53e3e;
    --red-700: #c53030;
    --red-800: #9b2c2c;
    --red-900: #742a2a;

    --blue-050: #eff6ff;
    --blue-100: #dbeafe;
    --blue-200: #bfdbfe;
    --blue-300: #93c5fd;
    --blue-400: #60a5fa;
    --blue-500: #3b82f6;
    --blue-600: #2563eb;
    --blue-700: #1d4ed8;
    --blue-800: #1e40af;
    --blue-900: #1e3a8a;
}

/* Body */
body {
    background-color: var(--blue-200);
    font-family: var(--font-serif);
}

/* h1 azul escuro */
h1 {
    color: var(--blue-800);
}

/* h2 só dentro do header */
header h2 {
    color: var(--blue-800);
}

/* Parágrafos */
p {
    color: black;
}

/* Links */
a {
    color: var(--blue-800);
}

/* Para corrigir headings do page-3 */

/* Títulos grandes */
h1, .big-heading, .main-heading {
    color: var(--blue-800);
}

/* Subtítulos */
h2, .sub-heading {
    color: var(--blue-800);
}

/* Títulos menores */
.small-heading, .section-heading {
    color: var(--blue-800);
}

/* Texto */
p {
    color: black;
}

.one {
    background-color: var(--blue-100);
}

.two {
    background-color: var(--blue-300);
}

.three {
    background-color: var(--blue-400);
}

.four {
    background-color: var(--blue-600);
    color: white;
}

.five {
    background-color: var(--blue-800);
    color: white;
}
